#compare-pages {
    margin: 35px 0 0;
}
#compare-pages .title-block {
    color: #410077;
    font-size: 24px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
}
#compare-pages .head-block .content-block .certificate {
    display: inline-block;
    width: 100%;
}
#compare-pages .head-block .content-block .certificate .item-certificate {
    float: left;
    position: relative;
    height: 95px;
    line-height: 95px;
    width: 50%;
    text-align: center;
}
#compare-pages .head-block .content-block .certificate .item-certificate:nth-child(2n+1):before {
    content: "";
    background: #e1e1e1;
    width: 1px;
    height: 32px;
    position: absolute;
    right: 0;
    top: calc(50% - 16px);
}
#compare-pages .head-block .content-block .desc-block {
    color: #410077;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}
#compare-pages .main-block {
    margin-top: 30px;
}
#compare-pages .main-block .title-block {
    margin-bottom: 25px;
}
#compare-pages .main-block .content-block .choose-product .items-selects {
    margin-bottom: 25px;
}
#compare-pages .main-block .content-block .choose-product .items-selects .title {
    color: #000f40;
    font-size: 18px;
}
#compare-pages .main-block .content-block .choose-product .items-selects .product-choose {
    position: relative;
    cursor: pointer;
}
#compare-pages .main-block .content-block .choose-product .items-selects .product-choose .title-select {
    margin-top: 15px;
    border: 1px solid #ad8ac9;
    color: #410077;
    font-size: 16px;
    height: 42px;
    line-height: 40px;
    padding: 0 10px;
}
#compare-pages .main-block .content-block .choose-product .items-selects .product-choose ul {
    display: none;
    position: absolute;
    top: 53px;
    left: 0;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 19px 0 13px;
    width: 100%;
    background: #fff;
    z-index: 2;
}
#compare-pages .main-block .content-block .choose-product .items-selects .product-choose ul li {
    color: #000f40;
    font-size: 16px;
    height: 49px;
    line-height: 49px;
}
#compare-pages .main-block .content-block .choose-product .items-selects .product-choose ul li.disabled {
    opacity: 0.2;
}
#compare-pages .main-block .content-block .choose-product .items-selects .product-choose ul li.active, #compare-pages .main-block .content-block .choose-product .items-selects .product-choose ul li:hover {
    color: #6800be;
}
#compare-pages .main-block .content-block .choose-product .items-selects .product-choose ul li:not(:last-child) {
    border-bottom: 1px solid #dcdcdc;
}
#compare-pages .main-block .content-block .choose-product .items-selects .product-choose ul.active {
    display: block;
}
#compare-pages .main-block .content-block .feature-product {
    margin: 75px 0 30px;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature {
    font-size: 18px;
    color: #000f40;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -15px;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature.image-product .content-feature .value_1, #compare-pages .main-block .content-block .feature-product .columns-features .item-feature.image-product .content-feature .value_2 {
    text-align: center;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature.image-product .content-feature .value_1 .value, #compare-pages .main-block .content-block .feature-product .columns-features .item-feature.image-product .content-feature .value_2 .value {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    font-weight: 500;
    padding: 30px 0 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    line-height: 1.4;
    height: 105px;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature.image-product .content-feature .value_1 img, #compare-pages .main-block .content-block .feature-product .columns-features .item-feature.image-product .content-feature .value_2 img {
    margin: 0 auto;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature.image-product .content-feature .value_2 {
    background: transparent;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature.image-product .content-feature .value_1 {
    border-top-left-radius: 485px;
    border-top-right-radius: 485px;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature .label-feature {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    font-weight: 500;
    text-align: center;
    padding: 0 15px;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    background: #E1E8FF;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_1, #compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_1 .value, #compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_2 .value {
    padding: 30px 0;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_1 .value ul, #compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_2 .value ul {
    padding-left: 27px;
    margin-bottom: 0;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_1 .value ul li, #compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_2 .value ul li {
    position: relative;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_1 .value ul li:not(:last-child), #compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_2 .value ul li:not(:last-child) {
    margin-bottom: 5px;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_1 .value ul li:before, #compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_2 .value ul li:before {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    left: -27px;
    background: #a4b2e2;
    height: 10px;
    border-radius: 50%;
    width: 10px;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_1 .value .spec, #compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_2 .value .spec, #compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_1 .value a, #compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_2 .value a {
    color: #0b8a00;
    font-weight: 500;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_1 .value a, #compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_2 .value a {
    text-decoration: underline;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_1 .value p, #compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_2 .value p {
    margin-bottom: 0;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_1 .value.certificate, #compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_2 .value.certificate {
    padding: 30px 0;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_1 .value.certificate .images, #compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_2 .value.certificate .images {
    text-align: center;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_1 .value.certificate .images .item-certificate, #compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_2 .value.certificate .images .item-certificate {
    display: inline-block;
    position: relative;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_1 .value.certificate .images .item-certificate:not(:last-child), #compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_2 .value.certificate .images .item-certificate:not(:last-child) {
    margin-bottom: 10px;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_1 .value.certificate .label, #compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_2 .value.certificate .label {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_1 .value.certificate .label span:not(:last-child), #compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_2 .value.certificate .label span:not(:last-child) {
    padding-right: 3px;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_1 .value.certificate .label span:not(:last-child):after, #compare-pages .main-block .content-block .feature-product .columns-features .item-feature .content-feature .value_2 .value.certificate .label span:not(:last-child):after {
    content: ",";
    display: inline-block;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature:nth-child(odd) .value_1 {
    background: linear-gradient(180deg, #f7f4ff 0%, rgba(247, 244, 255, 0) 100%);
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature:nth-child(odd) .value_2 {
    background: #f3f3f3;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature:nth-child(even) .value_1 {
    background: linear-gradient(180deg, #f7f4ff 0%, rgba(247, 244, 255, 0) 100%);
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature:nth-child(even) .value_2 {
    background: #fbfbfb;
}

#compare-pages .main-block .content-block .feature-product .columns-features .action {
    width: 100%;
    display: flex;
}
#compare-pages .main-block .content-block .feature-product .columns-features .action .button-action.style1 {
    width: calc(50% - 15px);
    text-align: center;
    padding: 10px 5px;
    height: auto;
    line-height: 25px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#compare-pages .main-block .content-block .feature-product .columns-features .action .button-action.style1.col-1 {
    margin-right: 15px;
}
#compare-pages .main-block .content-block .feature-product .columns-features .action .button-action.style1.col-2 {
    margin-left: 15px;
}
#compare-pages .main-block .content-block .feature-product .columns-features .item-feature.image-product {
    padding-bottom: 15px;
}

#compare-pages .top-bar {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    background: #fff;
    border-bottom: 1px solid #CFCFCF;
}

#compare-pages .top-bar [class*="title-"] {
    width: 50%;
    float: left;
    padding: 5px 10px;
}

#compare-pages .top-bar .title-1 {
    background: #F7F5FF;
}

#compare-pages .top-bar [class*="title-"] a {
    color: #410077;
    font-size: 15px;
    font-weight: 500;
}