#footer {

    background: linear-gradient(180deg, #F7F4FF 0%, rgba(247, 244, 255, 0) 100%);
    color: #000F40;
    padding: 0 30px;
}
#footer .footer-bottom {    
    border-top: 1px solid #FBF5FF;
    padding: 20px 0;
    text-align: center;
}
#footer .footer-top {
    padding: 40px 0 20px;
}
#footer .footer-top .column-footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
#footer .footer-top .column-footer.menu a {
    font-size: 16px;
    line-height:24px;
}
#footer .footer-top .column-footer.menu .item:not(:last-child) {
    margin-bottom: 10px;
}
#footer .footer-top .title-col {

    margin-bottom: 35px;
    font-size: 18px;    color: #410077;

    font-weight: 500;
    position: relative;
}
#footer .footer-top .column-footer:not(:first-child) .title-col {
    margin-top: 35px;
    padding-top: 35px;
    border-top: 1px solid rgba(0, 15, 64, 0.5);

}
#footer .footer-top .title-col p {
    margin-bottom: 0;
}
#footer .footer-top .content-col p {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
}   
#footer .footer-top .content-col p b {
    font-weight: 500;
}
#footer .footer-top .content-col a {
    color: #000F40;
}
#footer .footer-top .connect .content-col .item {
    padding-left: 35px;
    position: relative;
}
#footer .footer-top .connect .content-col .item:not(:last-child) {
    margin-bottom: 20px;
}
#footer .footer-top .content-col .item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    background-repeat: no-repeat;
}
#footer .footer-top .content-col .phone:before {
    background-image: url(../image/homepage/footer-call.svg);
    width: 30px;
    height: 31px;
    background-size: cover;
}
#footer .footer-top .content-col .mail:before {
    background-image: url(../image/homepage/footer-mail.svg);
    width: 29px;
    height: 21px;
    background-size: cover;
}
#footer .footer-top .content-col .mess:before {
    background-image: url(../image/homepage/footer-mess.svg);
    width: 28px;
    height: 25px;
    background-size: cover;
}
#footer .footer-top .social .subscribe-form {
    margin-top: 20px;
    position: relative;
}
#footer .footer-top .social .subscribe-form input {
    background: #FFFFFF;
    border-radius: 8px 0px 0px 8px;
    color: #000000;
    padding: 0 10px;
    height: 38px;
    width: calc(100% - 55px);
    border: none;
}
#footer .footer-top .social .subscribe-form input::-webkit-input-placeholder { /* Edge */
    color: #C4C4C4;
}

#footer .footer-top .social .subscribe-form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #C4C4C4;
}

#footer .footer-top .social .subscribe-form input::placeholder {
    color: #C4C4C4;
}
#footer .footer-top .social .subscribe-form button {
    color: #000000;
    font-size: 16px;
    height: 38px;
    width: 55px;
    text-align: center;
    background: #FFCA10;
    border-radius: 0px 8px 8px 0px;
    position: absolute;
    right: 0;
    top: 0;
}
#footer .footer-top .social .footer-social {
    margin-top: 20px;
}
#footer .footer-top .social .footer-social .items-social {
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
}
#footer .footer-top .social .footer-social .items-social li {
    margin-bottom: 0;
    display: inline-block;
}
#footer .footer-top .social .footer-social .items-social li:not(:last-child) {
    margin-right: 30px;
}

#footer .footer-bottom .mst {
    font-size: 16px;
    line-height: 24px;
    padding: 0 15px;
}
#footer .footer-bottom .bocongthuong {
    margin-bottom: 10px;
}
#footer .footer-bottom .display-flex {
    justify-content: center;
}

.live-chat {
    position: fixed;
    z-index: 99;
    font-size: 0;
    right: 20px;
    bottom: 70px;
}
.live-chat .items-action, .live-chat .items-action img {
    position: relative;
    display: block;
}
.live-chat .items-action img {
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
    -webkit-transition: width .3s;
    transition: width .3s;
    z-index: 9;
}
.live-chat .items-action .title-action {
    height: 38px;
    line-height: 40px;
    position: absolute;
    z-index: 2;
    right: 24px;
    top: 1px;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: max-width .3s ease,padding .3s ease;
    transition: max-width .3s ease,padding .3s ease;
    text-align: right;
    background: #44aa21;
    color: #fff;
    font-size: 15px;
    border-radius: 30px 0 0 30px;
}
.live-chat .items-action .title-action b {
    font-size: 18px;
}
.live-chat .items-action:hover .title-action {
    padding: 0 20px 0 10px;
    max-width: 160px;
    width: 160px;
}


.footer-infor {
    margin-top: 30px;
}

.footer-infor .label {
    font-size: 15px;
    margin-bottom: 10px;
}

.footer-infor .sub-content {
    font-size: 15px;
    display: flex;
}

.footer-infor .sub-content .title {
    width: 225px;
}

.footer-infor .sub-content .item {
    margin-bottom: 5px;
}