/* Slider */
.section-slider img {
    height: 375px;
    object-fit: cover;
    object-position: 0 100%;
}
/* End Slider */

/* banner */
.section-banner {
    margin-bottom: 42px;
}

.section-banner .image-banner {
    height: 387px;
    object-fit: cover;
    object-position: 75% 100%;
    width: 100%;
    max-width: 414px;
}

.section-banner .content-section {
    padding: 0 42px 0 15px;
}

.section-banner .content-section .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #153388;
    margin-bottom: 2px;
}

.section-banner .content-section .title span {
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
}

.section-banner .content-section p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #515158;
    margin-bottom: 19px;
}

.section-banner .content-section .button-action {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #153388;
    border-radius: 30px;
    width: 200px;
    height: 46px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
}

/* product */
.section-products {
    margin-bottom: 102px;
}

.section-products .block-product {
    padding: 0 17px;
    text-align: center;
}

.section-products .block-product:not(:last-child) {
    margin-bottom: 58px;
}

.section-products .block-product .block-title {
    margin-bottom: 11px;
    color: #051C5C;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.section-products .block-product .block-des {
    margin-bottom: 48px;
    color: #515158;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.section-products .block-product .items-product .item {
    max-width: 414px;
    margin-bottom: 108px;
}

.section-products .block-product .items-product .item .product-image {
    position: relative;
    margin-bottom: 12px;
    max-height: 400px;
}

.section-products .block-product .items-product .item .product-image img {
    margin: auto;
    width: 100%;
    max-width: 380px;
    object-fit: cover;
}

.section-products .block-product .items-product .item .product-image .sale-rate {
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    padding: 0 12px;
    border-radius: 20px;
    background: #E22020;
    top: 16px;
    right: 16px;
}

.section-products .block-product .items-product .item .product-name {
    color: #153388;
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.section-products .block-product .items-product .item .review-stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 18px;
}

.section-products .block-product .items-product .item .stars {
    display: flex;
    align-items: center;
    gap: 3px;
}

.section-products .block-product .items-product .item .review-stars .review-num {
    font-size: 16px;
    color: #BCBCBC;
    line-height: 20px;
}

.section-products .block-product .items-product .item .short-desc {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 46px;
    row-gap: 8px;
    margin-bottom: 23px;
    text-align: start;
}

.section-products .block-product .items-product .item .short-desc li {
    color: #505050;
    font-size: 18px;
    line-height: 26px;
}

.section-products .block-product .items-product .item .price {
    color: #D92121;
    margin-bottom: 4px;
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
}

.section-products .block-product .items-product .item .compare-price {
    color: #BCBCBC;
    text-decoration-line: line-through;
    margin-bottom: 23px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.section-products .block-product .items-product .item .installment-price {
    color: #515158;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 10px;
}

.section-products .block-product .items-product .item .installment-price label {
    color: #38383D;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}

.section-products .block-product .items-product .item .installment-price span {
    font-size: 16px;
    line-height: 20px;
}

.section-products .block-product .items-product .item .buy-now {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 52px;
    width: 240px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    background: #153388;
    border-radius: 30px;
    text-decoration: none;
}

.section-products .block-product .items-product .item .buy-now:hover {
    background: #051C5C;
}

/* policy */
.section-policy {
    background-image: url(../newImage/home/policy.png);
    height: 610px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65% 100%;
    position: relative;
    margin-bottom: 82px;
}

.section-policy .content-section {
    position: absolute;
    padding: 76px 10px 0 10px;
}

.section-policy .content-section .title {
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    color: white;
    margin-bottom: 25px;
    text-align: center;
}

.section-policy .content-section p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    text-align: justify;
}

.section-policy .content-section a {
    font-size: 18px;
    line-height: 27px;
    color: #C2C2C2;
    text-decoration: underline;
}

/* certificate */
.section-certificate {
    margin-bottom: 122px;
    padding: 0 15px;
}

.section-certificate .title-section {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: #153388;
    margin-bottom: 10px;
}

.section-certificate .des-section {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #38383D;
    margin-bottom: 34px;
}

.section-certificate .items-section {
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.section-certificate .item-certificate {
    text-align: center;
}

.section-certificate .item-certificate .icon {
    margin-bottom: 2px;
}

.section-certificate .item-certificate .title {
    color: #051C5C;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 25px;
    white-space: nowrap;
}

.section-certificate .item-certificate .desc {
    color: #000C35;
    font-size: 16px;
    line-height: 20px;
}

.slick-dots {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.slick-dots li {
    list-style: none;
}

.slick-dots li button {
    width: 12px;
    height: 4px;
    border-radius: 20px;
    background: #C1D3FF;
    border: none;
    outline: none;
    font-size: 0;
    transition: all 0.3s ease-in-out;
}

.slick-dots .slick-active button {
    width: 44px;
    height: 4px;
    border-radius: 20px;
    background: #000F43;
}

/* Contact */
.section-contact {
    background: #000F43;
    padding: 32px 15px 50px;
    display: flex;
    justify-content: center;
}

.section-contact h2 {
    color: white;
    font-size: 18px;
    line-height: 42px;
    font-weight: 900;
    white-space: nowrap;
    margin-bottom: 12px;
}

.section-contact h2 label {
    font-size: 24px;
}

.section-contact h2 span {
    font-size: 16px;
}

.section-contact input {
    width: 100%;
    height: 48px;
    padding-left: 22px;
    padding-right: 140px;
    border-radius: 30px;
    font-size: 14px;
    line-height: 17px;
    border: none;
    outline: none;
}

.section-contact button {
    position: absolute;
    right: -5px;
    height: 48px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    font-size: 14px;
    width: 125px;
    background: #2752E1;
    border: none;
}